#v-box{
-fx-background-color: linear-gradient(to bottom, #00b8b8, #038a8a);
}

#minimizeLabel:hover {
-fx-background-color: #00b9b9;
}

#maximizeLabel:hover {
-fx-background-color: #00b9b9;
}

#continueBtn:hover{
-fx-background-color: #028a8a;
}

#cancelBtn:hover{
-fx-background-color: #028a8a;
}
